body {
  background-color: black;


}
h1 {
  font-family: "nosifer";
  color: DarkOrange;
}
h2  {
  font-family: "nosifer";
  color: DarkOrange;
}
h3  {
  font-family: "nosifer";
  color: DarkOrange;
}
a  {
  font-family: "nosifer";
  color: DarkOrange;
  font-style: italic;

}
