body {
  background-color: Gainsboro;
}
h1 {
  font-family: "Permanent Marker";
  color: black;
  font-size: 60px;
  text-align: center;
}
h2 {
  font-family: "Permanent Marker";
  color: black;
  font-size: 40px;
  text-align: center;
}
h3  {
  font-family: "Permanent Marker";
  color: black;
  font-size: 20px;
  text-align: center;
}
a {
  font-family: "Permanent Marker";
  color: black;
  font-size: 20px;
  align-items: center;
}
body {
  margin: 4em;
  font-family: "Permanent Marker", sans-serif;
  color: hsl(100, 100%, 100%);
  background-color: hsl(0, 0%, 86%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
svg {
  background-color: hsl(0,0%,86%);
  font-size: 20pt;
  font-family: "Permanent Marker";
  color: black;
}
.horizontal-bar {
  width: 500px;
  display: flex;
  padding: 1em;
  justify-content: space-around;
  justify-self: stretch;
  font-size: 13pt;
  color: hsl(0,0%,0%);
}
.top {
  font-size: 16pt;
  font-weight: bold;
}
.footnote {
}
h4 {
  color: black;
  font-family: Permanent Marker;
  font-size: 10px
}
